# Mac OS specific
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# VS Code
.vscode
*.code-workspace

# Icon must ends with two \r
Icon

################################################################################
# PROGRAMMING LANGUAGES SPECIFIC
################################################################################

# Racket
*.rkt[~#*]

# Python
*.py[cod]

# C++
*.o

################################################################################
# Environment Files
################################################################################
.venv
.temp
.cache
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variable files
.env
.env.development.local
.env.test.local

