[user]
	name = Sean Su
	email = jejekule@gmail.com
[core]
	editor = vim
[color]
	ui = true
[alias]
	st = status
	co = checkout
	ci = commit
	dfc = diff --cached
	df = diff
	br = branch
	logg = log --graph --decorate --oneline --abbrev-commit --all
    logo = log --oneline
	ls = ls-tree HEAD -r --name-only
	rc = rm --cached
	rh = reset HEAD
[push]
	default = simple
